#img1{
    height: 80px;
    width: 90px;
    position: absolute;
    padding-left: 30px; 
    
}
#nav1{
    background-color: #1e6deb;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
li{
    position: relative;
    left:500px;
    display: inline;
}
h1{
    display: inline;
    padding: 20px;
}
.parent{
    height: 600px;
    width:100%;
    background-image:url(../images/re3l.jpg);
}
#ch3{
    text-align: center;
    font-size: large;
}
#img13{
    height: 400px;
    width: 100%;
}
.nav2{
    padding-top: 10px;
    color: azure;
}
#main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
#bt{
    background-color: black; /* Green */
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
#small{
    position: absolute;
    padding-top: 300px;
    padding-left: 150px;
    color: black;
}
a{
    text-decoration: none;
}
.at{
    color: aliceblue;
}

            